@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'EliceDigitalBaeum_Bold';
}


#title {
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

.pos {
    display: flex;
    text-align: center;
    margin: 10px auto;
    justify-content: center;
}

.pos_text {
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.frog {
    width: 300px;
    border-radius: 70%;
    margin: 30px;
    transition-duration: 0.7s;
}

.frog:hover {
    filter: brightness(40%);
    transition-duration: 0.7s;
}

.main_face {
    width: 300px;
}
#clock {
    text-align: center;
    font-size: 60px;
}

.white {
    background-color: rgb(248, 248, 248);
}

.black {
    background-color: black;
    color: white;
}